#{extends 'main.html' /}
#{set title:'移动版 - 物流发货网' /}
<div class="banner">
    <div class="container">
        <div class="logo"></div>
        <div class="separator"></div>
        <h1>移动版</h1>
    </div>
</div>
<div class="container mobile">
    <div class="title-bar">
        <div class="icon"></div>
        <h2 class="title">物流发货网移动版</h2>
    </div>
    <div class="web-content">
    	<div class="tip">
    		<div class="message">在手机浏览器中输入以下网址</div>
    		<input type="text" class="websit" value="www.56fahuo.com" readonly="readonly">
    	</div>
    	
    </div>
</div>