#{extends 'main.html' /}
#{set title:'手机客户端 - 物流发货网' /}
<div class="banner">
    <div class="container">
        <div class="logo"></div>
        <div class="separator"></div>
        <h1>手机客户端</h1>
    </div>
</div>
<div class="container mobile">
    <div class="title-bar">
        <div class="icon"></div>
        <h2 class="title">物流发货网手机客户端V1.0</h2>
    </div>
    <div class="app-content">
        <div class="note-wrapper">
            <div class="note-panel">
                <div class="title">通过物流发货网手机客户端</div>
                <div class="sub-title">可以搜索企业、专线，并在地图中显示企业的位置</div>
                <div class="brand">
                    <img src="public/images/brand-app-store.png" alt="App Store">
                </div>
            </div>
        </div>
    </div>
</div>