#{extends 'account.html' /}
#{set title:'物流发货网 - 手机验证' /}
<h1>手机验证</h1>
<div>
    <form action="@{Accounts.mobileSave}" method="post" class="account-form">
        <dl>
            <dt>手机号码：</dt>
            <dd>
                <input type="text" class="input-text" name="mobilephone" value="" id="mobilephone"/>
                <br />
                <a href="#" class="button small">发送验证码</a>
            </dd>
            <dt>验证码：</dt>
            <dd><input type="text" class="input-text" name="valicode" value="" id="valicode"/></dd>
        </dl>
        <div class="submit-bar">
            <button type="submit" class="button submit">保存</button>
        </div>
    </form>
</div>