#{extends 'account.html' /}
#{set title:'物流发货网 - 修改密码' /}
<h1>修改密码</h1>
<div>
    <form action="@{Accounts.passwordSave}" method="post" class="account-form">
        <dl>
            <dt>旧密码：</dt>
            <dd><input type="text" class="input-text" name="oldpass" value="" id="oldpass"/></dd>
            <dt>新密码：</dt>
            <dd><input type="text" class="input-text" name="newpass" value="" id="newpass"/></dd>
            <dt>确认密码：</dt>
            <dd><input type="text" class="input-text" name="confirmpass" value="" id="confirmpass"/></dd>
        </dl>
        <div class="submit-bar">
          <button type="submit" class="button submit">确定</button>
        </div>
    </form>
</div>